<div class="container" id="message">
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-5">

      <div class="talk">
      <h2>Thanks your order will be ready for pick up at: {{today | date:'shortTime'}} </h2>
      <!-- <h5>Confirmation #: {{number|random}}</h5> -->
        </div>

  
      </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class ="row">
    <div class="col-lg-5">
    <img src="./assets/images/chinese.jpg" 
      class="img-responsive center-block"
      style="max-height:300px;padding-bottom:50px"/>
    </div>
    <div class="col-lg-5 col-md-5 col-xs-5">  
      <img src="./assets/images/chinatown.jpeg" 
    class="img-responsive center-block"
    style="max-height:300px;padding-bottom:50px"/>
  </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      </div>
 
      <div class="col-lg-1">
        <button class="btn btn-danger">Log-Out</button>
      </div>
  </div>
</div>
  <br>
  
<div class="container">
    <div class="row">
      <div class="col-lg-9">
        </div>
   
        <div class="col-lg-1">
          <a class="btn btn-danger" href="/products">Another Order</a>
        </div>
    </div>
  </div>