<div class="main" >
 <div class="panel panel-danger text-dark">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <div class="col-md-6">
            <img src="./assets/images/chinese.jpg" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
         </div>
         <pm-signin></pm-signin>
               
          
            
        </div>
    </div>
</div>
</div>

